.voxel-shape
{
  position: absolute;
  -webkit-transform-style: preserve-3d;
  top: 150px;
  width: 0;
  margin: auto; 
}

.voxel {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
}

.voxel-side
{
  position: absolute;
  width: 100%;
  height: 100%;
  xopacity: 0.5;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.5s;
  background-color: rgba(255,255,255,0.1);
  outline: 1px solid rgba(0,0,0,0.4);
}
